@font-face {
    font-family: digital;
    src: url(../fonts/DSEG7Classic-Regular.woff2);
}

:root {
    --cor-vermelho-escuro: #581a1a;
    --cor-vermelho-claro: #af1414;
    --cor-verde: #00ff00;
    --cor-verde-marinho: seagreen;
    --cor-amarelo-claro: #beb932;
    --cor-amarelo-escuro: #666312;
    --cor-branco: #f0f0f0;
    --cor-cinza-claro: #aaaaaa;
    --cor-cinza-escuro: #444444;
    --cor-preto: #0c0c0c;
    --curvatura-da-borda: 5px;
}

body {
    color: var(--cor-preto);
    font-size: 100%;
}

#relogioGateball {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(5, 1.1fr) 0.75fr 0.75fr;
    grid-template-rows: 1fr 13% 13% 1fr;
}

.fundo-vermelho {
    grid-area: 1 / 1 / 3/ 8;
    background-color: var(--cor-vermelho-claro);
}

.fundo-branco {
    grid-area: 3 / 1 / 5 / 8;
    background-color: var(--cor-branco);
}

.time-vermelho_pontuacao {grid-area: 1 / 6 / 2 / 8;}
.time-branco_pontuacao   {grid-area: 4 / 6 / 5 / 8;}

.time-vermelho_pontuacao,
.time-branco_pontuacao {
    background-color: var(--cor-preto);
    margin: 1vw;
    border-radius: var(--curvatura-da-borda);
    color: var(--cor-amarelo-claro);
    font-size: 3.2em;
}

.time-vermelho_nome {
    grid-row: 2 / 3;
    background-color: var(--cor-vermelho-escuro);
    margin: 1vw 1vw 0 1vw;
    border-radius:
        var(--curvatura-da-borda) 
        var(--curvatura-da-borda) 
        0 
        0;
    color: var(--cor-branco);
}

.time-branco_nome {
    grid-row: 3 / 4;
    background-color: var(--cor-cinza-claro);
    margin: 0 1vw 1vw 1vw;
    border-radius:
        0
        0
        var(--curvatura-da-borda)
        var(--curvatura-da-borda);
    color: var(--cor-vermelho-claro);
}

.time-vermelho_nome,
.time-branco_nome {
    grid-column: 3 / 8;
}

.contador-regressivo_wrapper {
    grid-area: 2 / 1 / 4 / 3;
    margin: 1vw;
    padding: 1vw;
    background-color: var(--cor-preto);
    border-radius: var(--curvatura-da-borda);
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 0.8fr 0.8fr 1.4fr;
    row-gap: 1vw;
    column-gap: 1vw;
}

#contador-regressivo {
    grid-area: 1 / 1 / 2 / 4;
    color: var(--cor-amarelo-escuro);
    font-size: 2em;
}

#contador-regressivo.ativo {
    color: var(--cor-amarelo-claro);
}

.aumenta_tempo,
.diminui_tempo,
.reseta_tempo {
    width: 100%;
    border: 1px solid var(--cor-amarelo-escuro);
    border-radius: var(--curvatura-da-borda);
    color: var(--cor-amarelo-escuro);
    font-size: 0.75em;
    font-weight: bold;
}

.time-vermelho_pontuacao,
.time-branco_pontuacao,
.time-vermelho_nome,
.time-branco_nome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

#jogador-1 {grid-area: 1 / 1 / 2 / 2;}
#jogador-3 {grid-area: 1 / 2 / 2 / 3;}
#jogador-5 {grid-area: 1 / 3 / 2 / 4;}
#jogador-7 {grid-area: 1 / 4 / 2 / 5;}
#jogador-9 {grid-area: 1 / 5 / 2 / 6;}

#jogador-2  {grid-area: 4 / 1 / 5 / 2;}
#jogador-4  {grid-area: 4 / 2 / 5 / 3;}
#jogador-6  {grid-area: 4 / 3 / 5 / 4;}
#jogador-8  {grid-area: 4 / 4 / 5 / 5;}
#jogador-10 {grid-area: 4 / 5 / 5 / 6;}

.time-vermelho_jogador {
    --tela-cor-fundo: var(--cor-vermelho-escuro);
    --cor-texto: var(--cor-branco);
    --cor-marcador: var(--cor-branco);
    --cor-estado-jogador: var(--cor-cinza-escuro);
    grid-template-rows: 0.5fr 0.3fr 2fr 0.5fr;
}

.time-branco_jogador {
    --tela-cor-fundo: var(--cor-cinza-claro);
    --cor-texto: var(--cor-vermelho-claro);
    --cor-marcador: var(--cor-vermelho-claro);
    --cor-estado-jogador: var(--cor-cinza-escuro);
    grid-template-rows: 0.5fr 2fr 0.3fr 0.5fr;
}

.time-vermelho_jogador,
.time-branco_jogador {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1vw;
}

.jogador_numero {
    font-weight: bold;
    grid-column: 1 / 3;
    justify-items: center;
    align-items: center;
    color: var(--cor-texto);
}

.time-vermelho_jogador .jogador_numero {
    grid-row: 1 / 2;
}

.jogador_botoes {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding: 3px 0;
}

.time-vermelho_jogador .jogador_botoes {
    grid-row: 2 / 3;
}

.time-branco_jogador .jogador_botoes {
    grid-row: 3 / 4;
}

.aumenta_pontuacao,
.diminui_pontuacao {
    width: 50%;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: var(--curvatura-da-borda);
}

.time-vermelho_jogador .aumenta_pontuacao, 
.time-vermelho_jogador .diminui_pontuacao {
    background-color: var(--tela-cor-fundo);
    color: var(--cor-texto);
}

.time-branco_jogador .aumenta_pontuacao, 
.time-branco_jogador .diminui_pontuacao {
    background-color: var(--tela-cor-fundo);
    color: var(--cor-texto);
}

.jogador_numero,
.jogador_estado {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
}

.jogador_pontuacao {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    color: var(--cor-texto);
    background-color: var(--cor-preto);
}

.time-vermelho_jogador .jogador_pontuacao {
    grid-row: 3 / 4;
    border-radius: var(--curvatura-da-borda) 0 0 0;
}

.time-branco_jogador .jogador_pontuacao {
    grid-row: 2 / 3;
    border-radius: 0 0 0 var(--curvatura-da-borda);
}

.jogador_avanco-wrapper {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--tela-cor-fundo);
    border-radius: 0 var(--curvatura-da-borda) var(--curvatura-da-borda) 0;
}

.time-vermelho_jogador .jogador_avanco-wrapper {
    grid-row: 3 / 5;
}

.time-branco_jogador .jogador_avanco-wrapper {
    grid-row: 1 / 3;
}

.jogador_avanco {
    place-self: center;
    color: var(--cor-marcador);
    font-size: 0.6em;
    font-weight: bold;
}

.jogador_avanco.ativo {
    color: var(--cor-verde);
}

.jogador_estado {
    grid-column: 1 / 2;
    font-size: 1em;
    color: var(--cor-estado-jogador);
    background-color: var(--cor-preto);
}

.time-vermelho_jogador .jogador_estado {
    grid-row: 4 / 5;
    border-radius: 0 0 0 var(--curvatura-da-borda);
}

.time-branco_jogador .jogador_estado {
    grid-row: 1 / 2;
    border-radius: var(--curvatura-da-borda) 0 0 0;
}

.jogador-fora {
    color: var(--cor-amarelo-claro);
}

.jogador_pontuacao,
.time-vermelho_pontuacao,
.time-branco_pontuacao,
#contador-regressivo {
    font-family: digital;
}
